.hidden {
    display: none;
}

canvas {
    width: 100%;
    height: 100%;
}

svg {
    width: 100%;
    height: 100%;
}

td {
    text-align: center;
    width: 20px;
    height: 20px;
}

.left {
    float: left;
}

.stringing_row {
    clear: left;
}

.clickable {
    cursor: pointer;
}

h2 {
    font: 14px Arial, sans-serif;
    color:#777;
    padding: 10px;
    text-align: center;
}

html, body {
    height: 100%;
}

body .lm_content {
    overflow: scroll;
}

* {
    margin: 0;
    padding: 0;
    list-style-type:none;
}

#layout-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

#menu-container {
    width: 20%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    background: #fafafa;
}

#menu-container li {
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
    padding: 10px 5px;
    color: #777;
    background: #e1e1e1;
    font: 12px Arial, sans-serif;
}

#menu-container li.component {
    cursor: move;
}

#menu-container li.component:hover {
    background: #bbbbbb;

}

#layout-container {
    width: 80%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 20%;
    box-shadow: -3px 0px 9px 0px rgba( 0, 0, 0, 0.4 );
}

.movement-buttons {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 2fr 1fr 1fr 2fr;
    width: 240px;
    margin: auto;
    color: #777;
}

.movement-buttons .up {
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 1;
    margin: auto;
}

.movement-buttons .down {
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 4;
    margin: auto;
}

.movement-buttons .left {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: span 2;
    margin: auto;
}

.movement-buttons .right {
    grid-column-start: 4;
    grid-row-start: 2;
    grid-row-end: span 2;
    margin: auto;
}

.movement-buttons .plus {
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 2;
    margin: auto;
}

.movement-buttons .minus {
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 3;
    margin: auto;
}
