body {
    margin: 0;
    background-color: #f0f0f0;
}

canvas {
    width: 100%;
    height: 100%;
}

svg {
    width: 100%;
    height: 100%;
}

.grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr 3fr;
}

td {
    text-align: center;
    width: 20px;
    height: 20px;
}

.left {
    float: left;
}

.stringing_row {
    clear: left;
}
